.spacer {
  width: 60px;
  height: 0px;
  border: 2px solid $MAIN_COLOR;
  margin-left: calc(50% - 30px);
  margin-bottom: 50px;
}

.line {
  margin: 0;
  text-align: center;
}

.line1 {
  color: #333333;
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Kaushan-Script";
  padding-top: 90px;
}

.line2 {
  color: #333333;
  font-weight: 700;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: "Montserrat";
  margin-top: 20px;
  margin-bottom: 40px;
}

// line1 + line2 + spacer total height 278px;

.underline {
  border-bottom: 1px solid #cccccc80;
}
