$MAIN_COLOR: white;
$HOVER_COLOR: #fce38a;
$HOVER_COLOR2: #f38181;
$CUSTUM_GREEN: #95e1d3;
$GREY_BACK: #f8f8f8;
$CUSTUM_GRADIENT: linear-gradient(
  rgb(233, 130, 131, 0.8),
  rgb(240, 217, 138, 0.8)
);
$ML: 18.75vw;
$CW: 62.5vw;
