$MAIN_COLOR: white;
$MAIN_COLOR_OP: rgba(255, 255, 255, 0.5);
$HOVER_COLOR: #fce38a;
$HOVER_COLOR2: #f38181;
$HOVER_COLOR2_OP: rgba(243, 129, 129, 0.5);
$CUSTUM_GREEN: #95e1d3;
$ALT_GREEN: #b5eae0;
$GREY_BACK: #f8f8f8;
$CUSTUM_GRADIENT: linear-gradient(
  rgb(233, 130, 131, 0.8),
  rgb(240, 217, 138, 0.8)
);
$ML: 18.75%;
$CW: 62.5%;
