// RESET
@import "./reset";
// SOME ADDITIONAL STUFF
@import "./fonts";
@import "./variables";
@import "./global_classes";
// SECTIONS
@import "./sections/nav";
@import "./sections/aboutus";
@import "./sections/services";
@import "./sections/design";
@import "./sections/wedo";
@import "./sections/ourteam";
@import "./sections/someofwork";
@import "./sections/peoplesay";
@import "./sections/latestblog";

.content {
  display: block;
  height: 500px;
  width: 100vw;
  background-color: #c50b34;
}
