// rearrange UI for tablets and smaller:
@media screen and (max-width: 768px) {
  .aboutus {
    height: 1625px;
    .container {
      p {
        text-align: justify;
        padding: 0 10%;
      }
      .photo-holder {
        height: 840px;
        div {
          width: 90%;
          left: 5%;
        }
        div:first-of-type {
          left: 5%;
        }
        div:nth-of-type(2) {
          left: 5%;
          top: 280px;
        }
        div:last-of-type {
          left: 5%;
          top: 560px;
        }
      }
    }
    .container2 {
      top: 1320px;
      height: 100px;
      div {
        width: 20%;
        p {
          font-size: 2rem;
          margin-top: 18px;
        }
        p:last-of-type {
          font-size: 0.5rem;
        }
      }
      div:first-of-type {
        left: 0;
        border-left: none;
      }
      div:last-of-type {
        left: 80%;
      }
      div:nth-of-type(2) {
        left: 20%;
      }
      div:nth-of-type(3) {
        left: 40%;
      }
      div:nth-of-type(4) {
        left: 60%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .aboutus {
    height: 1500px;
    .container2 {
      top: 1400px;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 425px) {
  .aboutus {
    height: 1460px;
    .container {
      p {
        padding: 0 10%;
      }
    }
    .container2 {
      top: 1370px;
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .aboutus {
    height: 1425px;
    .container {
      p {
        padding: 0 10%;
      }
    }
    .container2 {
      top: 1325px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .aboutus {
    height: 950px;
    .container {
      p {
        text-align: justify;
        padding: 0 10%;
      }
    }
    .container2 {
      top: 750px;
      height: 204px;
      div {
        p {
          font-size: 3rem;
        }
      }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .aboutus {
    height: 920px;
    .container {
      p {
        text-align: justify;
        padding: 0 10%;
      }
    }
    .container2 {
      top: 720px;
      height: 204px;
      div {
        p {
          font-size: 3rem;
        }
      }
    }
  }
}
