.nav {
  font-size: 16px;
  height: 100vh;
  position: relative;
  background: $CUSTUM_GRADIENT;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
  .links {
    position: relative;
    height: 7%;
    width: 100%;

    a {
      position: absolute;
      line-height: 0;
      left: $ML;
      p {
        font-size: 2rem;
        font-family: "Montserrat";
        font-weight: bold;
        display: inline-block;
        color: $MAIN_COLOR;
      }
    }
    .right {
      position: absolute;
      top: 55%;
      left: 48.96%;
      width: 32.29%;
      a {
        margin-right: 8.5%;
        left: 0;
        position: relative;
        p {
          font-size: 1rem;
          font-weight: normal;
          margin: 0;
        }
        i {
          color: $MAIN_COLOR;
          font-size: 1rem;
        }
        i:hover {
          color: $HOVER_COLOR;
        }
      }
      a:hover {
        p {
          color: $HOVER_COLOR;
        }
      }
      a:last-of-type {
        margin-right: 0;
      }
      a:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $HOVER_COLOR;
        top: 40px;
      }
    }
    .collapse {
      position: absolute;
      top: 55%;
      right: 8%;
      a {
        left: 0;
        position: relative;
        i {
          color: $MAIN_COLOR;
        }
        i:hover {
          color: $HOVER_COLOR;
        }
      }
      a:hover {
        i {
          color: $HOVER_COLOR;
        }
      }
      a:last-of-type {
        margin-right: 0;
      }
      a:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $HOVER_COLOR;
        top: 40px;
      }
    }
    .drop-down {
      position: absolute;
      right: 8vw;
      top: 55%;
      width: 20vw;
      background-color: beige;
      border-radius: 10px;
      display: none;
      a {
        position: relative;
        display: block;
        margin: 0;
        right: auto;
        left: 0;
        margin-top: 20px;
        text-align: center;
        p {
          color: $HOVER_COLOR2;
          font-size: 1rem;
        }
        i {
          color: $HOVER_COLOR2;
          font-size: 1rem;
        }
      }
      a:last-of-type {
        margin-bottom: 20px;
      }
      a:hover {
        p {
          color: $HOVER_COLOR;
        }
        i {
          color: $HOVER_COLOR;
        }
      }
    }
    .active-drop-down {
      display: block;
    }
  }
  .logo {
    margin-left: 18.75vw;
    margin-top: 16vh;
    width: 63vw;
    height: 77vh;
    text-align: center;
    p {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 9.375rem;
      color: $MAIN_COLOR;
      line-height: 1rem;
    }
    p:first-of-type {
      font-family: "Kaushan-Script";
      font-weight: normal;
      font-size: 4.5rem;
    }
    div:nth-of-type(2) {
      width: 155px;
      height: 26px;
      margin-left: calc(50% - 80.5px);
      border: 3px solid $MAIN_COLOR;
      color: $MAIN_COLOR;
      padding-top: 9px;
      font-family: "Montserrat";
      font-weight: normal;
      font-size: 1rem;
      line-height: 14px;
      background: transparent;
    }
    div:nth-of-type(2):hover {
      background-color: $HOVER_COLOR2;
      border-color: $HOVER_COLOR2;
      cursor: pointer;
    }
    .alt_nav {
      height: 82px;
      width: 63vw;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      border: none;
      a {
        p {
          font-family: "Montserrat";
          font-weight: normal;
          font-size: 1rem;
          span {
            font-size: 1.5rem;
            font-weight: bold;
            padding-right: 5px;
          }
        }
        border-top: 2px solid $MAIN_COLOR;
        position: absolute;
        left: 0;
        width: 23%;
        height: 100%;
        text-decoration: none;
        padding-top: 15px;
        text-align: left;
      }
      a:nth-of-type(2) {
        left: 25%;
      }
      a:nth-of-type(3) {
        left: 50%;
      }
      a:nth-of-type(4) {
        left: 75%;
      }
      a:hover {
        p {
          color: $HOVER_COLOR2;
        }
      }
      a:hover::before {
        content: "";
        position: absolute;
        width: 25%;
        height: 4px;
        background-color: $HOVER_COLOR2;
        top: -3px;
      }
    }
  }
}

@import "./nav_media";
