.ourteam {
  height: 127.45vh;
  div:first-of-type {
    width: $CW;
    margin-left: $ML;
    height: 102.95vh;
    p:last-of-type {
      text-align: center;
      margin-left: 6.25%;
      margin-right: 6.25%;
      font-size: 15px;
      line-height: 24px;
      color: #999999;
      font-weight: 400;
      font-family: "Roboto";
    }
    .spacer {
      width: 60px;
      height: 0px;
      border: 2px solid $MAIN_COLOR;
      margin-left: calc(50% - 30px);
      margin-bottom: 50px;
      border-color: $HOVER_COLOR2;
    }
    .photos {
      width: 100%;
      height: calc(45.88vh + 100px);
      position: relative;
      margin-top: 9.8vh;
      .person {
        width: calc(100% / 3 - 2 * 1.5%);
        height: 100%;
        margin-left: 0;
        position: absolute;
        text-align: center;
        p {
          font-family: "Montserrat";
          font-size: 14px;
          color: #333333;
          font-weight: 400;
        }
        p:last-of-type {
          font-size: 15px;
          line-height: 24px;
          color: #999999;
          font-weight: 300;
          font-style: italic;
          font-family: "Roboto";
          margin-left: 0;
          margin-right: 0;
        }
        .picture {
          width: 100%;
          margin-left: 0;
          height: calc(100% - 100px);
          background-size: cover;
        }
        .picture:hover {
          transform: translate(-0.5%, -0.5%);
          box-shadow: 0.5% 0.5% 0 0 $CUSTUM_GREEN;
        }
        .pic1 {
          background: url(../../assets/person1.png);
        }
        .pic2 {
          background: url(../../assets/person2.png);
        }
        .pic3 {
          background: url(../../assets/person3.png);
        }
        .pic1:hover {
          background: $CUSTUM_GRADIENT, url(../../assets/person1.png);
        }
        .pic2:hover {
          background: $CUSTUM_GRADIENT, url(../../assets/person2.png);
        }
        .pic3:hover {
          background: $CUSTUM_GRADIENT, url(../../assets/person3.png);
        }
      }
      .person:first-of-type {
      }
      .person:nth-of-type(2) {
        left: calc(100% / 3 + 1.5%);
      }
      .person:nth-of-type(3) {
        left: calc(2 * 100% / 3 + 2 * 1.5%);
      }
    }
  }
  .some_logos {
    width: 100%;
    height: 24.5vh;
    background-color: $GREY_BACK;
    div {
      margin-left: $ML;
      width: $CW;
      height: 100%;
      font-size: 0;
      .some_logo {
        display: inline-block;
        margin: 0;
        width: calc($CW/6);
        height: 100%;
        img {
          width: 80%;
          height: auto;
          margin-left: 10%;
          margin-top: calc(50% - 82px);
        }
      }
    }
  }
}

@import "./ourteam_media";
