.services {
  font-size: 16px;
  height: 63.73vh;
  .spacer {
    border-color: $HOVER_COLOR2;
  }
  .service-cont {
    width: $CW;
    height: calc(100% - 278px);
    margin-left: $ML;
    .service-cont-inner {
      position: relative;
      width: 100%;
      height: calc(50% - 30px);
      div {
        position: absolute;
        width: calc(100% / 3);
        height: 100%;
        img {
          position: absolute;
          left: 8%;
          top: 20%;
          width: 32px;
        }
        p {
          margin: 0;
          position: absolute;
          left: 20%;
          top: 19%;
          font-size: 14px;
          font-family: "Montserrat";
          font-weight: 400;
          color: #333333;
        }
        p:last-of-type {
          top: 35%;
          font-size: 15px;
          line-height: 1.5rem;
          color: #999999;
          font-family: "Roboto";
        }
      }
      div:nth-of-type(2) {
        left: 33.33%;
      }
      div:last-of-type {
        left: 66.66%;
      }
    }
  }
}

@import "./services_media";
