body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/static/Montserrat-Bold.ttf") format("truetype"), url("./fonts/static/Montserrat-Regular.ttf") format "truetype";
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("./fonts/KaushanScript-Regular.ttf") format("truetype");
}
.nav {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8));
}
.nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.nav .links {
  position: relative;
  height: 7%;
  width: 100%;
}
.nav .links a {
  position: absolute;
  line-height: 0;
  left: 18.75vw;
}
.nav .links a p {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  display: inline-block;
  color: white;
}
.nav .links .right {
  position: absolute;
  top: 55%;
  left: 48.96vw;
}
.nav .links .right a {
  margin-right: 3vw;
  left: 0;
  position: relative;
}
.nav .links .right a p {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.nav .links .right a:hover p {
  color: #fce38a;
}
.nav .links .right a:last-of-type {
  margin-right: 0;
}
.nav .links .right i {
  color: white;
}
.nav .links .right i:hover {
  color: #fce38a;
}
.nav .links .right a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fce38a;
  top: 40px;
}
.nav .logo {
  margin-left: 18.75vw;
  margin-top: 16vh;
  width: 63vw;
  height: 77vh;
  text-align: center;
}
.nav .logo p {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 150px;
  color: white;
  line-height: 1rem;
}
.nav .logo p:first-of-type {
  font-family: "Kaushan-Script";
  font-weight: normal;
  font-size: 72px;
}
.nav .logo div {
  width: 60px;
  height: 0px;
  border: 2px solid white;
  margin-left: calc(50% - 30px);
  margin-bottom: 50px;
}
.nav .logo div:nth-of-type(2) {
  width: 155px;
  height: 26px;
  margin-left: calc(50% - 80.5px);
  border: 3px solid white;
  color: white;
  padding-top: 9px;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  background: transparent;
}
.nav .logo div:nth-of-type(2):hover {
  background-color: #f38181;
  border-color: #f38181;
  cursor: pointer;
}
.nav .logo .alt_nav {
  height: 82px;
  width: 63vw;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  border: none;
}
.nav .logo .alt_nav a {
  border-top: 2px solid white;
  position: absolute;
  left: 0;
  width: 23%;
  height: 100%;
  text-decoration: none;
  padding-top: 15px;
  text-align: left;
}
.nav .logo .alt_nav a p {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
}
.nav .logo .alt_nav a p span {
  font-size: 24px;
  font-weight: bold;
  padding-right: 5px;
}
.nav .logo .alt_nav a:nth-of-type(2) {
  left: 25%;
}
.nav .logo .alt_nav a:nth-of-type(3) {
  left: 50%;
}
.nav .logo .alt_nav a:nth-of-type(4) {
  left: 75%;
}
.nav .logo .alt_nav a:hover p {
  color: #f38181;
}
.nav .logo .alt_nav a:hover::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 4px;
  background-color: #f38181;
  top: -3px;
}

@media screen and (max-width: 320px) {
  .nav .logo {
    width: 100vw;
    margin-left: 0;
  }
  .nav .logo p {
    font-size: 45px;
  }
  .nav .logo p:first-of-type {
    font-size: 35px;
  }
  .nav .logo .alt_nav {
    width: 90vw;
    margin-left: 5vw;
  }
  .nav .logo .alt_nav a p {
    font-size: 12px;
  }
  .nav .logo .alt_nav a p span {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .nav .logo {
    width: 100vw;
    margin-left: 0;
  }
  .nav .logo p {
    font-size: 80px;
  }
  .nav .logo p:first-of-type {
    font-size: 60px;
  }
  .nav .logo .alt_nav {
    width: 90vw;
    margin-left: 5vw;
  }
  .nav .logo .alt_nav a p {
    font-size: 12px;
  }
  .nav .logo .alt_nav a p span {
    font-size: 18px;
  }
}
.content {
  height: 500px;
  width: 100vw;
  background-color: #fce38a;
}

/*# sourceMappingURL=index.css.map */
