body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-Bold.ttf") format("truetype"), url("../fonts/static/Montserrat-Regular.ttf") format "truetype";
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("../fonts/KaushanScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/static/Roboto-Regular.ttf") format("truetype"), url("../fonts/static/Roboto-LightItalic.ttf") format("truetype");
}
.spacer {
  width: 60px;
  height: 0px;
  border: 2px solid white;
  margin-left: calc(50% - 30px);
  margin-bottom: 50px;
}

.line {
  margin: 0;
  text-align: center;
}

.line1 {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
  font-weight: normal;
  font-family: "Kaushan-Script";
  padding-top: 90px;
}

.line2 {
  color: #333333;
  font-weight: 700;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat";
  margin-top: 20px;
  margin-bottom: 40px;
}

.underline {
  border-bottom: 2px solid lightgrey;
}

.nav {
  font-size: 16px;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8));
  overflow: hidden;
}
.nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.nav .links {
  position: relative;
  height: 7%;
  width: 100%;
}
.nav .links a {
  position: absolute;
  line-height: 0;
  left: 18.75%;
}
.nav .links a p {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
  display: inline-block;
  color: white;
}
.nav .links .right {
  position: absolute;
  top: 55%;
  left: 48.96%;
  width: 32.29%;
}
.nav .links .right a {
  margin-right: 8.5%;
  left: 0;
  position: relative;
}
.nav .links .right a p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
.nav .links .right a i {
  color: white;
  font-size: 1rem;
}
.nav .links .right a i:hover {
  color: #fce38a;
}
.nav .links .right a:hover p {
  color: #fce38a;
}
.nav .links .right a:last-of-type {
  margin-right: 0;
}
.nav .links .right a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fce38a;
  top: 40px;
}
.nav .links .collapse {
  position: absolute;
  top: 55%;
  right: 8%;
}
.nav .links .collapse a {
  left: 0;
  position: relative;
}
.nav .links .collapse a i {
  color: white;
}
.nav .links .collapse a i:hover {
  color: #fce38a;
}
.nav .links .collapse a:hover i {
  color: #fce38a;
}
.nav .links .collapse a:last-of-type {
  margin-right: 0;
}
.nav .links .collapse a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fce38a;
  top: 40px;
}
.nav .links .drop-down {
  position: absolute;
  right: 8vw;
  top: 55%;
  width: 20vw;
  background-color: beige;
  border-radius: 10px;
  display: none;
}
.nav .links .drop-down a {
  position: relative;
  display: block;
  margin: 0;
  right: auto;
  left: 0;
  margin-top: 20px;
  text-align: center;
}
.nav .links .drop-down a p {
  color: #f38181;
  font-size: 1rem;
}
.nav .links .drop-down a i {
  color: #f38181;
  font-size: 1rem;
}
.nav .links .drop-down a:last-of-type {
  margin-bottom: 20px;
}
.nav .links .drop-down a:hover p {
  color: #fce38a;
}
.nav .links .drop-down a:hover i {
  color: #fce38a;
}
.nav .links .active-drop-down {
  display: block;
}
.nav .logo {
  margin-left: 18.75vw;
  margin-top: 16vh;
  width: 63vw;
  height: 77vh;
  text-align: center;
}
.nav .logo p {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 9.375rem;
  color: white;
  line-height: 1rem;
}
.nav .logo p:first-of-type {
  font-family: "Kaushan-Script";
  font-weight: normal;
  font-size: 4.5rem;
}
.nav .logo div:nth-of-type(2) {
  width: 155px;
  height: 26px;
  margin-left: calc(50% - 80.5px);
  border: 3px solid white;
  color: white;
  padding-top: 9px;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1rem;
  line-height: 14px;
  background: transparent;
}
.nav .logo div:nth-of-type(2):hover {
  background-color: #f38181;
  border-color: #f38181;
  cursor: pointer;
}
.nav .logo .alt_nav {
  height: 82px;
  width: 63vw;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  border: none;
}
.nav .logo .alt_nav a {
  border-top: 2px solid white;
  position: absolute;
  left: 0;
  width: 23%;
  height: 100%;
  text-decoration: none;
  padding-top: 15px;
  text-align: left;
}
.nav .logo .alt_nav a p {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1rem;
}
.nav .logo .alt_nav a p span {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 5px;
}
.nav .logo .alt_nav a:nth-of-type(2) {
  left: 25%;
}
.nav .logo .alt_nav a:nth-of-type(3) {
  left: 50%;
}
.nav .logo .alt_nav a:nth-of-type(4) {
  left: 75%;
}
.nav .logo .alt_nav a:hover p {
  color: #f38181;
}
.nav .logo .alt_nav a:hover::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 4px;
  background-color: #f38181;
  top: -3px;
}

@media screen and (max-width: 480px) {
  .nav .links .right {
    display: none;
  }
  .nav .links .drop-down {
    width: 90vw;
    right: 5vw;
    top: 100%;
  }
  .nav .logo {
    width: 100%;
    margin-left: 0;
  }
  .nav .logo p {
    font-size: 2.8rem;
  }
  .nav .logo p:first-of-type {
    font-size: 2rem;
  }
  .nav .logo .alt_nav {
    width: 90%;
    margin-left: 5%;
  }
  .nav .logo .alt_nav a p {
    font-size: 0.75rem;
  }
  .nav .logo .alt_nav a p span {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .links .right {
    display: none;
  }
  .nav .logo {
    width: 100%;
    margin-left: 0;
  }
  .nav .logo p {
    font-size: 5rem;
  }
  .nav .logo p:first-of-type {
    font-size: 3.75rem;
  }
  .nav .logo .alt_nav {
    width: 90%;
    margin-left: 5%;
  }
  .nav .logo .alt_nav a p {
    font-size: 0.75rem;
  }
  .nav .logo .alt_nav a p span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav .links .right {
    width: 55%;
    left: 45%;
  }
  .nav .links .right a {
    margin-right: 6%;
  }
  .nav .links .right a p {
    font-size: 0.625rem;
  }
  .nav .links .collapse {
    display: none;
  }
  .nav .links .drop-down {
    display: none;
  }
  .nav .logo {
    width: 63%;
    margin-left: 18.75%;
  }
  .nav .logo p {
    font-size: 5.625rem;
  }
  .nav .logo p:first-of-type {
    font-size: 4rem;
  }
  .nav .logo .alt_nav {
    width: 63%;
  }
  .nav .logo .alt_nav a p {
    font-size: 1rem;
  }
  .nav .logo .alt_nav a p span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .nav .links .right {
    width: 60%;
    left: 48.96%;
  }
  .nav .links .right a {
    margin-right: 5%;
  }
  .nav .links .right a p {
    font-size: 0.75rem;
  }
  .nav .links .collapse {
    display: none;
  }
  .nav .links .drop-down {
    display: none;
  }
  .nav .logo {
    width: 63%;
    margin-left: 18.75%;
  }
  .nav .logo p {
    font-size: 7.5rem;
  }
  .nav .logo p:first-of-type {
    font-size: 4.5rem;
  }
  .nav .logo .alt_nav {
    width: 63%;
  }
  .nav .logo .alt_nav a p {
    font-size: 1rem;
  }
  .nav .logo .alt_nav a p span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1251px) and (max-width: 1510px) {
  .nav .links .right {
    width: 60%;
    left: 48.96%;
  }
  .nav .links .right a {
    margin-right: 3.5%;
  }
  .nav .links .right a p {
    font-size: 1rem;
  }
  .nav .links .collapse {
    display: none;
  }
  .nav .links .drop-down {
    display: none;
  }
  .nav .logo p {
    font-size: 8.125rem;
  }
  .nav .logo p:first-of-type {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1511px) {
  .nav .links .right {
    left: 48.96%;
  }
  .nav .links .right a {
    margin-right: 4%;
  }
  .nav .links .right a p {
    font-size: 1rem;
  }
  .nav .links .collapse {
    display: none;
  }
  .nav .links .drop-down {
    display: none;
  }
  .nav .logo p {
    font-size: 8.125rem;
  }
  .nav .logo p:first-of-type {
    font-size: 4.5rem;
  }
}
@media screen and (max-height: 500px) {
  .nav .logo {
    margin-top: 5vh;
  }
  .nav .logo p {
    font-size: 1rem;
  }
  .nav .logo p:first-of-type {
    font-size: 0.5rem;
  }
  .nav .logo .spacer {
    margin-bottom: 20px;
  }
}
@media screen and (min-height: 501px) and (max-height: 700px) {
  .nav .logo {
    margin-top: 0;
  }
  .nav .logo p {
    font-size: 5rem;
  }
  .nav .logo p:first-of-type {
    font-size: 2rem;
  }
  .nav .logo .spacer {
    margin-bottom: 20px;
  }
}
@media screen and (min-height: 701px) and (max-height: 820px) {
  .nav .logo {
    margin-top: 10vh;
  }
  .nav .logo p {
    font-size: 7rem;
  }
  .nav .logo p:first-of-type {
    font-size: 3rem;
  }
  .nav .logo .spacer {
    margin-bottom: 20px;
  }
}
@media screen and (min-height: 701px) and (max-height: 820px) and (max-width: 916px) {
  .nav .logo {
    margin-left: 0;
    width: 100%;
  }
  .nav .logo .alt_nav {
    margin-left: 18.75%;
  }
}
@media screen and (max-height: 820px) and (max-width: 768px) {
  .nav .logo {
    margin-left: 0;
    width: 100%;
  }
  .nav .logo .alt_nav {
    margin-left: 4.6875%;
  }
}
@media screen and (max-height: 820px) and (max-width: 576px) {
  .nav .logo {
    margin-top: 10vh;
  }
  .nav .logo p {
    font-size: 3.5rem;
  }
  .nav .logo p:first-of-type {
    font-size: 2rem;
  }
  .nav .logo .spacer {
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 450px) and (max-width: 576px) {
  .nav .logo {
    margin-top: 10vh;
  }
  .nav .logo p {
    font-size: 1rem;
  }
  .nav .logo p:first-of-type {
    font-size: 0.5rem;
  }
  .nav .logo .spacer {
    margin-bottom: 20px;
  }
}
.aboutus {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
.aboutus .spacer {
  border-color: #f38181;
}
.aboutus .container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
}
.aboutus .container p {
  padding: 0 25%;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}
.aboutus .container .photo-holder {
  position: relative;
  width: 62.5%;
  height: 25vh;
  margin-top: 50px;
  margin-left: 18.75%;
}
.aboutus .container .photo-holder div {
  position: absolute;
  display: inline-block;
  width: 32%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.aboutus .container .photo-holder div span {
  display: none;
  padding-top: 9vh;
  color: white;
}
.aboutus .container .photo-holder div span i {
  display: block;
  text-align: center;
  font-size: 24px;
}
.aboutus .container .photo-holder div span p {
  margin-top: 15px;
  position: relative;
  color: white;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat";
}
.aboutus .container .photo-holder div:first-of-type {
  background: url(../../assets/pc.png);
  background-size: cover;
}
.aboutus .container .photo-holder div:nth-of-type(2) {
  left: 34%;
  background: url(../../assets/headphones.png);
  background-size: cover;
}
.aboutus .container .photo-holder div:last-of-type {
  left: 68%;
  margin-right: 0;
  background: url(../../assets/grass.png);
  background-size: cover;
}
.aboutus .container .photo-holder div:hover {
  box-shadow: 0.5vw 0.5vw 0 0 #95e1d3;
  transform: translate(-0.5vw, -0.5vw);
}
.aboutus .container .photo-holder div:hover span {
  display: block;
}
.aboutus .container .photo-holder div:first-of-type:hover {
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url(../../assets/pc.png);
}
.aboutus .container .photo-holder div:nth-of-type(2):hover {
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url(../../assets/headphones.png);
}
.aboutus .container .photo-holder div:last-of-type:hover {
  margin-right: 0;
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url(../../assets/grass.png);
}
.aboutus .container2 {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 70%;
  background-color: #95e1d3;
}
.aboutus .container2 div {
  position: absolute;
  width: 12.5%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #b5eae0;
}
.aboutus .container2 div p {
  color: white;
  font-size: 72px;
  font-weight: bold;
  font-family: "Montserrat";
  margin-top: 32%;
  margin-bottom: 0;
}
.aboutus .container2 div p:last-of-type {
  font-size: 14px;
  font-weight: normal;
  margin-top: 10%;
}
.aboutus .container2 div:first-of-type {
  left: 18.75%;
  border-left: 1px solid #b5eae0;
}
.aboutus .container2 div:last-of-type {
  right: 18.75%;
}
.aboutus .container2 div:nth-of-type(2) {
  left: 31.25%;
}
.aboutus .container2 div:nth-of-type(3) {
  left: 43.75%;
}
.aboutus .container2 div:nth-of-type(4) {
  left: 56.25%;
}

@media screen and (max-width: 320px) {
  .aboutus .container {
    height: calc(100vh - 60px);
  }
  .aboutus .container2 {
    top: calc(100vh - 60px);
    height: 60px;
  }
  .aboutus .container2 div {
    width: 20%;
  }
  .aboutus .container2 div p {
    color: white;
    font-size: 24px;
    margin-top: 0;
  }
  .aboutus .container2 div p:last-of-type {
    font-size: 8px;
  }
  .aboutus .container2 div:first-of-type {
    left: 0;
    border-left: none;
  }
  .aboutus .container2 div:last-of-type {
    right: 0;
  }
  .aboutus .container2 div:nth-of-type(2) {
    left: 20%;
  }
  .aboutus .container2 div:nth-of-type(3) {
    left: 40%;
  }
  .aboutus .container2 div:nth-of-type(4) {
    left: 60%;
    border-right: none;
  }
}
.services {
  height: 63.73vh;
}
.services .spacer {
  border-color: #f38181;
}
.services .service-cont {
  width: 62.5%;
  height: calc(100% - 278px);
  margin-left: 18.75%;
}
.services .service-cont .service-cont-inner {
  position: relative;
  width: 100%;
  height: 50%;
}
.services .service-cont .service-cont-inner div {
  position: absolute;
  width: 33.33%;
  height: 100%;
}
.services .service-cont .service-cont-inner div img {
  position: absolute;
  left: 8%;
  top: 20%;
}
.services .service-cont .service-cont-inner div p {
  margin: 0;
  position: absolute;
  left: 25%;
  top: 20%;
  font-size: 14px;
  font-weight: normal;
  font-family: "Montserrat";
  font-weight: 400;
  color: #333333;
}
.services .service-cont .service-cont-inner div p:last-of-type {
  top: 35%;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.services .service-cont .service-cont-inner div:nth-of-type(2) {
  left: 33.33%;
}
.services .service-cont .service-cont-inner div:last-of-type {
  left: 66.66%;
}

.design {
  height: 83.33vh;
  background-color: rgba(217, 217, 217, 0.5058823529);
  position: relative;
}
.design .spacer {
  border-color: #f38181;
}
.design img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  opacity: 0.3;
}
.design .phone-stabilizer {
  position: absolute;
  width: 420px;
  height: 65%;
  left: calc(50% - 210px);
  bottom: 0;
}
.design .BigPhone {
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 1;
}
.design .SmallPhone {
  width: 57%;
  height: auto;
  z-index: 1;
  opacity: 1;
  bottom: -15%;
  left: 75%;
}

.wedo .wedo_content {
  text-align: center;
  width: 62.5%;
  height: 88.2vh;
  margin-left: 18.75%;
}
.wedo .wedo_content .spacer {
  border-color: #f38181;
}
.wedo .wedo_content p {
  margin: 0 6.5vw;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.wedo .wedo_content .wedo_content2 {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 278px - 50px);
  text-align: none;
  position: relative;
}
.wedo .wedo_content .wedo_content2 div {
  position: absolute;
  width: 50%;
  height: 312px;
  left: 0;
  text-align: center;
  overflow: hidden;
}
.wedo .wedo_content .wedo_content2 div img {
  width: clamp(468px, 100%, 100%);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.wedo .wedo_content .wedo_content2 div:first-of-type {
  width: 47.85%;
}
.wedo .wedo_content .wedo_content2 div:last-of-type {
  left: 50%;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop {
  position: relative;
  display: block;
  width: 99%;
  height: 16%;
  border: 1px solid #999999;
  left: 0;
  cursor: pointer;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop img {
  position: absolute;
  left: 2.66%;
  top: 10px;
  height: 30px;
  width: auto;
  margin: 0;
  display: inline-block;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop p {
  position: absolute;
  left: clamp(35px + 5.32%, 10%, 10%);
  top: 15px;
  margin: 0;
  text-align: left;
  display: inline-block;
  font-family: "Montserat";
  font-weight: normal;
  font-size: 14px;
  color: #333;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop i {
  position: absolute;
  right: 3.66%;
  top: 15px;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop textarea {
  position: absolute;
  left: 2.66%;
  top: 50px;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  min-height: calc(100% - 63px);
  max-height: calc(100% - 63px);
  min-width: 92.5%;
  max-width: 92.5%;
  resize: none;
  border: none;
  outline: none;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop textarea::-webkit-scrollbar {
  width: 5px;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop textarea::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 2px;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .drop textarea::-webkit-scrollbar-thumb:hover {
  background-color: #f38181;
}
.wedo .wedo_content .wedo_content2 div:last-of-type .dropped-list {
  width: 99%;
  height: 66%;
}
.wedo .wedo_footer {
  width: 100%;
  height: 28.4vh;
  background-color: #f8f8f8;
}
.wedo .wedo_footer div {
  width: 62.5%;
  height: 100%;
  margin-left: 18.75%;
  position: relative;
}
.wedo .wedo_footer div i {
  position: absolute;
  height: 21px;
  color: #cccccc;
  left: 1.75%;
  top: calc(50% - 10.5px);
  cursor: pointer;
  font-size: 24px;
}
.wedo .wedo_footer div i:last-of-type {
  left: calc(98.25% - 12px);
}
.wedo .wedo_footer div div {
  margin-left: 0;
  height: 51.72%;
  top: 24.14%;
}
.wedo .wedo_footer div div:first-of-type {
  position: absolute;
  left: 0;
  left: 5.7vw;
  width: 14.68848vh;
  border: 2px solid #95e1d3;
  background-color: white;
}
.wedo .wedo_footer div div:first-of-type img {
  position: absolute;
  width: 42.66%;
  top: 28.76%;
  left: 28.76%;
}
.wedo .wedo_footer div div:last-of-type {
  position: absolute;
  left: 16.66vw;
  width: 40vw;
}
.wedo .wedo_footer div div:last-of-type .spacer2 {
  all: unset;
  width: 60px;
  height: 0px;
  border: 2px solid #f38181;
  display: inline-block;
}
.wedo .wedo_footer div div:last-of-type p {
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  color: #999999;
  font-weight: 300;
  width: 80%;
}
.wedo .wedo_footer div div:last-of-type p:last-of-type {
  display: inline-block;
  margin-bottom: 10%;
  margin-left: 5px;
  padding-top: 10px;
  font-family: "Kaushan-Script";
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.ourteam {
  height: 127.45vh;
}
.ourteam div:first-of-type {
  width: 62.5%;
  margin-left: 18.75%;
  height: 102.95vh;
}
.ourteam div:first-of-type p:last-of-type {
  text-align: center;
  margin-left: 6.25%;
  margin-right: 6.25%;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.ourteam div:first-of-type .spacer {
  width: 60px;
  height: 0px;
  border: 2px solid white;
  margin-left: calc(50% - 30px);
  margin-bottom: 50px;
  border-color: #f38181;
}
.ourteam div:first-of-type .photos {
  width: 100%;
  height: calc(45.88vh + 100px);
  position: relative;
  margin-top: 9.8vh;
}
.ourteam div:first-of-type .photos .person {
  width: 30.3333333333%;
  height: 100%;
  margin-left: 0;
  position: absolute;
  text-align: center;
}
.ourteam div:first-of-type .photos .person p {
  font-family: "Montserrat";
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}
.ourteam div:first-of-type .photos .person p:last-of-type {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  margin-left: 0;
  margin-right: 0;
}
.ourteam div:first-of-type .photos .person .picture {
  width: 100%;
  margin-left: 0;
  height: calc(100% - 100px);
  background-size: cover;
}
.ourteam div:first-of-type .photos .person .picture:hover {
  transform: translate(-0.5%, -0.5%);
  box-shadow: 0.5vw 0.5vw 0 0 #95e1d3;
}
.ourteam div:first-of-type .photos .person .pic1 {
  background: url(../../assets/person1.png);
}
.ourteam div:first-of-type .photos .person .pic2 {
  background: url(../../assets/person2.png);
}
.ourteam div:first-of-type .photos .person .pic3 {
  background: url(../../assets/person3.png);
}
.ourteam div:first-of-type .photos .person .pic1:hover {
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url(../../assets/person1.png);
}
.ourteam div:first-of-type .photos .person .pic2:hover {
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url(../../assets/person2.png);
}
.ourteam div:first-of-type .photos .person .pic3:hover {
  background: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url(../../assets/person3.png);
}
.ourteam div:first-of-type .photos .person:nth-of-type(2) {
  left: 34.8333333333%;
}
.ourteam div:first-of-type .photos .person:nth-of-type(3) {
  left: 69.6666666667%;
}
.ourteam .some_logos {
  width: 100%;
  height: 24.5vh;
  background-color: #f8f8f8;
}
.ourteam .some_logos div {
  margin-left: 18.75%;
  width: 62.5%;
  height: 100%;
  font-size: 0;
}
.ourteam .some_logos div .some_logo {
  display: inline-block;
  margin: 0;
  width: 10.4166666667%;
  height: 100%;
}
.ourteam .some_logos div .some_logo img {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: calc(50% - 82px);
}

.someofwork {
  height: 160vh;
}
.someofwork .intro {
  width: 62.5%;
  margin-left: 18.75%;
  height: 40vh;
}
.someofwork .intro .spacer {
  border-color: #f38181;
}
.someofwork .intro p {
  text-align: center;
  margin-left: 6.25%;
  margin-right: 6.25%;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.someofwork .gallery {
  width: 100%;
  height: 77vh;
  font-size: 0;
}
.someofwork .gallery .vert_gal {
  display: inline-block;
  width: 25%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
}
.someofwork .gallery .vert_gal div {
  width: 100%;
  height: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
}
.someofwork .gallery .vert1 div:first-of-type {
  background-image: url("../../assets/gal1.png");
}
.someofwork .gallery .vert1 div:last-of-type {
  background-image: url("../../assets/gal2.png");
}
.someofwork .gallery .vert1 div:first-of-type:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal1.png");
}
.someofwork .gallery .vert1 div:last-of-type:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal2.png");
}
.someofwork .gallery .vert2 div:first-of-type {
  background-image: url("../../assets/gal3.png");
}
.someofwork .gallery .vert2 div:last-of-type {
  background-image: url("../../assets/gal4.png");
}
.someofwork .gallery .vert2 div:first-of-type:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal3.png");
}
.someofwork .gallery .vert2 div:last-of-type:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal4.png");
}
.someofwork .gallery .vert3 {
  background-image: url("../../assets/gal5.png");
}
.someofwork .gallery .vert3:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal5.png");
}
.someofwork .gallery .vert4 div:first-of-type {
  background-image: url("../../assets/gal6.png");
  background-position: center top;
}
.someofwork .gallery .vert4 div:last-of-type {
  background-image: url("../../assets/gal7.png");
  background-position: top;
}
.someofwork .gallery .vert4 div:first-of-type:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal6.png");
}
.someofwork .gallery .vert4 div:last-of-type:hover {
  background-image: linear-gradient(rgba(233, 130, 131, 0.8), rgba(240, 217, 138, 0.8)), url("../../assets/gal7.png");
}
.someofwork .sldr {
  width: 100%;
  height: 43vh;
  background-color: #f8f8f8;
}
.someofwork .sldr div {
  width: 62.5%;
  height: 100%;
  margin-left: 18.75%;
  position: relative;
}
.someofwork .sldr div i {
  font-size: 24px;
  position: absolute;
  color: #cccccc;
  left: 1.75%;
  top: calc(50% - 10.5px);
  cursor: pointer;
}
.someofwork .sldr div i:last-of-type {
  left: calc(98.25% - 12px);
}
.someofwork .sldr div div {
  margin-left: 0;
  height: 51.72%;
  top: 24.14%;
}
.someofwork .sldr div div:first-of-type {
  position: absolute;
  left: 0;
  left: 5.7%;
  width: 22.2396vh;
  height: 22.2396vh;
  margin-right: 2.6%;
  overflow: hidden;
  border-radius: 11.1198vh;
}
.someofwork .sldr div div:first-of-type img {
  width: 100%;
  height: 100%;
}
.someofwork .sldr div div:last-of-type {
  position: absolute;
  left: calc(22.2396vh + 11.4%);
  top: 32%;
  width: 35%;
}
.someofwork .sldr div div:last-of-type .spacer2 {
  all: unset;
  width: 60px;
  height: 0px;
  border: 2px solid #f38181;
  display: inline-block;
}
.someofwork .sldr div div:last-of-type p {
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  color: #999999;
  font-weight: 300;
  width: 80%;
}
.someofwork .sldr div div:last-of-type p:last-of-type {
  display: inline-block;
  margin-bottom: 10%;
  margin-left: 5px;
  padding-top: 10px;
  font-family: "Kaushan-Script";
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.peopleSay {
  height: 81.37vh;
  position: relative;
  overflow: hidden;
}
.peopleSay img {
  object-fit: contain;
  opacity: 0.3;
  position: absolute;
}
.peopleSay .peopleToSay {
  position: absolute;
  left: 18.75%;
  top: 278px;
  width: 62.5%;
  height: calc(100% - 278px);
  font-size: 0;
}
.peopleSay .peopleToSay .sayingPeople {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}
.peopleSay .peopleToSay .sayingPeople div:first-of-type {
  position: absolute;
  left: 6.4%;
  width: 6vw;
  height: 6vw;
  border-radius: 3vw;
  overflow: hidden;
}
.peopleSay .peopleToSay .sayingPeople div:first-of-type img {
  opacity: 1;
  margin: 0;
  padding: 0;
  object-fit: contain;
}
.peopleSay .peopleToSay .sayingPeople div:last-of-type {
  opacity: 1;
  position: absolute;
  left: 10vw;
  width: 20vw;
  height: 9vw;
  overflow: hidden;
}
.peopleSay .peopleToSay .sayingPeople div:last-of-type div {
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
.peopleSay .peopleToSay .sayingPeople div:last-of-type div .spacer {
  position: relative;
  width: 60px;
  height: 0px;
  border: 2px solid #f38181;
  left: 0;
  border-radius: 0;
}
.peopleSay .peopleToSay .sayingPeople div:last-of-type p {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.peopleSay .peopleToSay .sayingPeople div:last-of-type p:nth-of-type(2) {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.peopleSay .peopleToSay .sayingPeople div:last-of-type p:last-of-type {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  margin-top: 30px;
}

.latestBlog {
  height: 95vh;
  font-size: 0;
}
.latestBlog .blog {
  width: 62.5%;
  margin-left: 18.75%;
  height: 75.5vh;
}
.latestBlog .blog .spacer {
  border-color: #f38181;
}
.latestBlog .blog .stories {
  width: 100%;
  height: calc(100% - 278px);
  font-size: 0;
}
.latestBlog .blog .stories .story {
  display: inline-block;
  margin-left: 1.5vw;
  width: calc((100% - 3vw) / 3);
  height: 100%;
  position: relative;
}
.latestBlog .blog .stories .story .img_cont {
  height: 50%;
  width: 100%;
  overflow: hidden;
}
.latestBlog .blog .stories .story .img_cont img {
  object-fit: cover;
  object-position: center;
}
.latestBlog .blog .stories .story .date {
  position: absolute;
  top: 33.33%;
  left: -2.6%;
  width: 15.8%;
  height: 14%;
  background-color: #95e1d3;
}
.latestBlog .blog .stories .story .date p {
  margin: 0;
  font-size: 30px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.latestBlog .blog .stories .story .date p:last-of-type {
  font-weight: lighter;
  font-size: 12px;
  font-style: italic;
}
.latestBlog .blog .stories .story .str_txt {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  font-family: "Montserrat";
}
.latestBlog .blog .stories .story .str_txt:nth-of-type(2) {
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 400;
  font-family: "Roboto";
  text-transform: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5%;
}
.latestBlog .blog .stories .story span {
  text-transform: none;
  padding: 0;
  padding-top: 5%;
  font-size: 15px;
}
.latestBlog .blog .stories .story span p {
  font-style: italic;
  display: inline-block;
  font-family: "Roboto";
  background-color: white;
  width: 50px;
  line-height: 24px;
  color: #999;
  font-weight: 300;
}
.latestBlog .blog .stories .story span i {
  padding-right: 2.5%;
  color: #95e1d3;
}
.latestBlog .blog .stories .story:first-of-type {
  margin-left: 0;
}
.latestBlog .map {
  width: 100%;
  height: 19.5vh;
  position: relative;
  overflow: hidden;
  opacity: 1;
}
.latestBlog .map .bkg3 {
  position: absolute;
  width: 100%;
  opacity: 0.2;
}
.latestBlog .map .line1 {
  padding-top: 20px;
}
.latestBlog .map .line {
  font-size: 24px;
  color: #f38181;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.latestBlog .map .spacer {
  border-color: #f38181;
}

.footer {
  height: 54.9vh;
  background-color: #f8f8f8;
}
.footer .footer_cont {
  width: 62.5%;
  height: 100%;
  margin-left: 18.75%;
}
.footer .footer_cont .footer_cont_inner {
  width: 100%;
  height: 89.3%;
  position: relative;
}
.footer .footer_cont .footer_cont_inner div {
  position: absolute;
}
.footer .footer_cont .footer_cont_inner .mogo {
  height: 100%;
  width: 42.5%;
}
.footer .footer_cont .footer_cont_inner .mogo h1 {
  font-size: 46px;
  color: #cccccc;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
  margin-top: 10%;
}
.footer .footer_cont .footer_cont_inner .mogo p {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  width: 90%;
  margin-top: 5%;
}
.footer .footer_cont .footer_cont_inner .mogo p:nth-of-type(2) {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: 5%;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  width: 90%;
}
.footer .footer_cont .footer_cont_inner .mogo span p {
  width: 80px;
  display: inline-block;
  margin-top: 5%;
}
.footer .footer_cont .footer_cont_inner .mogo span img {
  color: #95e1d3;
  display: inline-block;
  padding-right: 2.5%;
}
.footer .footer_cont .footer_cont_inner .mogo form {
  position: relative;
  margin-top: 5%;
}
.footer .footer_cont .footer_cont_inner .mogo form input {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  width: 230px;
  height: 38px;
  border: 1px solid #e7e7e7;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  padding-left: 5%;
}
.footer .footer_cont .footer_cont_inner .mogo form input:last-of-type {
  left: 232px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #95e1d3;
  font-style: normal;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding-left: 0;
}
.footer .footer_cont .footer_cont_inner .blogs {
  height: 100%;
  width: 35%;
  left: 42.5%;
  position: absolute;
}
.footer .footer_cont .footer_cont_inner .blogs p {
  position: absolute;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.footer .footer_cont .footer_cont_inner .blogs p:first-of-type {
  top: 10%;
}
.footer .footer_cont .footer_cont_inner .blogs .blg {
  width: 100%;
  height: 22%;
  position: relative;
  margin-top: 6%;
  top: calc((14.0625vw - 2px) / 3 - 6%);
}
.footer .footer_cont .footer_cont_inner .blogs .blg .img_cnt {
  position: absolute;
  width: 28.5%;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer .footer_cont .footer_cont_inner .blogs .blg .img_cnt img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.footer .footer_cont .footer_cont_inner .blogs .blg div {
  position: absolute;
  left: 33.26%;
  width: 66.74%;
  height: 100%;
}
.footer .footer_cont .footer_cont_inner .blogs .blg div p {
  position: absolute;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  width: 75%;
}
.footer .footer_cont .footer_cont_inner .blogs .blg div p:last-of-type {
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  top: 50%;
}
.footer .footer_cont .footer_cont_inner .instagram {
  height: 100%;
  width: 22.5%;
  left: 77.5%;
  position: relative;
}
.footer .footer_cont .footer_cont_inner .instagram p {
  position: absolute;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.footer .footer_cont .footer_cont_inner .instagram p:first-of-type {
  top: 10%;
}
.footer .footer_cont .footer_cont_inner .instagram p:last-of-type {
  top: calc((14.0625vw - 2px) / 3 + 14.0625vw + 2px);
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.footer .footer_cont .footer_cont_inner .instagram div {
  position: relative;
  width: 100%;
  height: calc(14.0625vw + 2px);
  background-color: white;
  top: calc((14.0625vw - 2px) / 3);
  position: relative;
}
.footer .footer_cont .footer_cont_inner .instagram div .rw {
  top: 0;
  position: absolute;
  height: calc((14.0625vw - 2px) / 3);
}
.footer .footer_cont .footer_cont_inner .instagram div .rw div {
  top: 0;
  width: calc((100% - 2px) / 3);
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.footer .footer_cont .footer_cont_inner .instagram div .rw div img {
  height: 100%;
}
.footer .footer_cont .footer_cont_inner .instagram div .rw div:nth-of-type(2) {
  left: calc((100% - 2px) / 3 + 1px);
}
.footer .footer_cont .footer_cont_inner .instagram div .rw div:last-of-type {
  left: calc(2 * (100% - 2px) / 3 + 2px);
}
.footer .footer_cont .footer_cont_inner .instagram div .rw:nth-of-type(2) {
  top: calc((14.0625vw - 2px) / 3 + 1px);
}
.footer .footer_cont .footer_cont_inner .instagram div .rw:last-of-type {
  top: calc(2 * (14.0625vw - 2px) / 3 + 2px);
}
.footer .footer_cont .credits {
  width: 100%;
  height: 10.7%;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.footer .footer_cont .credits p {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.footer .footer_cont .credits p span {
  color: #f38181;
}

/*# sourceMappingURL=index.css.map */
